# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.   Python
2.   Ruby
3.   SQL
4.   Julia

Some of the commonly used libraries used by Data Scientists include:

1.   NumPy
2.   Pandas
3.   Matplotlib
4.   Scikit-learn
5.   Seaborn

| Data Science Tools |
|---|
| Apache Hadoop |
| Apache Spark |
| Apache Flink |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**

*   List of popular languages for Data Science
*   List of commonly used libraries used by Data Scientists
*   List of Data Science tools
*   Examples of evaluating arithmetic expressions in Python

## Author
Sree Lekha S